{% extends "layout.jinja2" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='dist/css/dashboard.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='dist/css/account.css') }}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
{% endblock %}

{% block content %}
  <h1>{{ body }}</h1>

  {% if current_user.is_authenticated %}
    <p>Hi {{ current_user.name }}!</p>
      <table>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Start Time</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>SW Corner</th>
          <th>NE Corner</th>
          <th>Private</th>
          <th>ID</th>
        </tr>
        <tr>
          <td>{{race.name}}</td>
          <td>{{race.boat_type.name}}</td>
          <td>{{race.start_time}}</td>
          <td>{{race.latitude}}</td>
          <td>{{race.longitude}}</td>
          <td>{{race.sw_corner}}</td>
          <td>{{race.ne_corner}}</td>
          <td>{{race.private}}</td>
          <td>{{race.id}}</td>
        </tr>
      </table>

    <a href="{{ url_for('pages_bp.logout') }}">Log out</a>
  {% endif %}

{% endblock %}
